--extra-index-url https://download.pytorch.org/whl/cu124

a2wsgi==1.10.10 ; python_full_version == "3.11.9"
accelerate==1.8.1 ; python_full_version == "3.11.9"
acryl-datahub==0.14.1.12 ; python_full_version == "3.11.9"
aiobotocore==2.23.0 ; python_full_version == "3.11.9"
aiohappyeyeballs==2.6.1 ; python_full_version == "3.11.9"
aiohttp-retry==2.9.1 ; python_full_version == "3.11.9"
aiohttp==3.12.13 ; python_full_version == "3.11.9"
aioitertools==0.12.0 ; python_full_version == "3.11.9"
aiosignal==1.3.2 ; python_full_version == "3.11.9"
aiosqlite==0.21.0 ; python_full_version == "3.11.9"
alembic==1.16.2 ; python_full_version == "3.11.9"
amqp==5.3.1 ; python_full_version == "3.11.9"
annotated-types==0.7.0 ; python_full_version == "3.11.9"
ansicolors==1.1.8 ; python_full_version == "3.11.9"
anthropic==0.55.0 ; python_full_version == "3.11.9"
antlr4-python3-runtime==4.9.3 ; python_full_version == "3.11.9"
anyio==4.9.0 ; python_full_version == "3.11.9"
appdirs==1.4.4 ; python_full_version == "3.11.9"
argon2-cffi-bindings==21.2.0 ; python_full_version == "3.11.9"
argon2-cffi==25.1.0 ; python_full_version == "3.11.9"
asgiref==3.8.1 ; python_full_version == "3.11.9"
asttokens==3.0.0 ; python_full_version == "3.11.9"
asyncssh==2.21.0 ; python_full_version == "3.11.9"
atpublic==6.0.1 ; python_full_version == "3.11.9"
attrs==25.3.0 ; python_full_version == "3.11.9"
autopep8==2.3.2 ; python_full_version == "3.11.9"
avro-gen3==0.7.16 ; python_full_version == "3.11.9"
avro==1.11.3 ; python_full_version == "3.11.9"
bentoml==1.4.16 ; python_full_version == "3.11.9"
billiard==4.2.1 ; python_full_version == "3.11.9"
blinker==1.9.0 ; python_full_version == "3.11.9"
bokeh==3.7.3 ; python_full_version == "3.11.9"
boto3==1.38.27 ; python_full_version == "3.11.9"
botocore==1.38.27 ; python_full_version == "3.11.9"
cached-property==2.0.1 ; python_full_version == "3.11.9"
cachetools==5.5.2 ; python_full_version == "3.11.9"
cattrs==23.1.2 ; python_full_version == "3.11.9"
celery==5.5.3 ; python_full_version == "3.11.9"
certifi==2025.6.15 ; python_full_version == "3.11.9"
cffi==1.17.1 ; python_full_version == "3.11.9"
charset-normalizer==3.4.2 ; python_full_version == "3.11.9"
click-default-group==1.2.4 ; python_full_version == "3.11.9"
click-didyoumean==0.3.1 ; python_full_version == "3.11.9"
click-option-group==0.5.7 ; python_full_version == "3.11.9"
click-plugins==1.1.1 ; python_full_version == "3.11.9"
click-repl==0.3.0 ; python_full_version == "3.11.9"
click-spinner==0.1.10 ; python_full_version == "3.11.9"
click==8.2.1 ; python_full_version == "3.11.9"
cloudpickle==3.1.1 ; python_full_version == "3.11.9"
colorama==0.4.6 ; python_full_version == "3.11.9"
coloredlogs==15.0.1 ; python_full_version == "3.11.9"
configobj==5.0.9 ; python_full_version == "3.11.9"
contourpy==1.3.2 ; python_full_version == "3.11.9"
cramjam==2.10.0 ; python_full_version == "3.11.9"
cryptography==45.0.4 ; python_full_version == "3.11.9"
cycler==0.12.1 ; python_full_version == "3.11.9"
dask==2025.5.1 ; python_full_version == "3.11.9"
databricks-sdk==0.57.0 ; python_full_version == "3.11.9"
datasets==2.21.0 ; python_full_version == "3.11.9"
decorator==5.2.1 ; python_full_version == "3.11.9"
deprecated==1.2.18 ; python_full_version == "3.11.9"
deprecation==2.1.0 ; python_full_version == "3.11.9"
dictdiffer==0.9.0 ; python_full_version == "3.11.9"
dill==0.3.8 ; python_full_version == "3.11.9"
diskcache==5.6.3 ; python_full_version == "3.11.9"
distributed==2025.5.1 ; python_full_version == "3.11.9"
distro==1.9.0 ; python_full_version == "3.11.9"
docker==7.1.0 ; python_full_version == "3.11.9"
dpath==2.2.0 ; python_full_version == "3.11.9"
dulwich==0.23.0 ; python_full_version == "3.11.9"
dvc-data==3.16.10 ; python_full_version == "3.11.9"
dvc-http==2.32.0 ; python_full_version == "3.11.9"
dvc-objects==5.1.1 ; python_full_version == "3.11.9"
dvc-render==1.0.2 ; python_full_version == "3.11.9"
dvc-s3==3.2.0 ; python_full_version == "3.11.9"
dvc-studio-client==0.21.0 ; python_full_version == "3.11.9"
dvc-task==0.40.2 ; python_full_version == "3.11.9"
dvc==3.60.0 ; python_full_version == "3.11.9"
dynaconf==3.2.11 ; python_full_version == "3.11.9"
entrypoints==0.4 ; python_full_version == "3.11.9"
evidently==0.4.40 ; python_full_version == "3.11.9"
executing==2.2.0 ; python_full_version == "3.11.9"
expandvars==1.0.0 ; python_full_version == "3.11.9"
faker==37.4.0 ; python_full_version == "3.11.9"
fastapi==0.115.13 ; python_full_version == "3.11.9"
fastembed==0.7.1 ; python_full_version == "3.11.9"
fastjsonschema==2.21.1 ; python_full_version == "3.11.9"
fastparquet==2024.11.0 ; python_full_version == "3.11.9"
filelock==3.18.0 ; python_full_version == "3.11.9"
fire==0.7.0 ; python_full_version == "3.11.9"
flask==3.1.1 ; python_full_version == "3.11.9"
flatbuffers==25.2.10 ; python_full_version == "3.11.9"
flatten-dict==0.4.2 ; python_full_version == "3.11.9"
flufl-lock==8.2.0 ; python_full_version == "3.11.9"
fonttools==4.58.4 ; python_full_version == "3.11.9"
frozenlist==1.7.0 ; python_full_version == "3.11.9"
fs==2.4.16 ; python_full_version == "3.11.9"
fsspec==2024.6.1 ; python_full_version == "3.11.9"
funcy==2.0 ; python_full_version == "3.11.9"
gitdb==4.0.12 ; python_full_version == "3.11.9"
gitpython==3.1.44 ; python_full_version == "3.11.9"
google-auth==2.40.3 ; python_full_version == "3.11.9"
grandalf==0.8 ; python_full_version == "3.11.9"
graphene==3.4.3 ; python_full_version == "3.11.9"
graphql-core==3.2.6 ; python_full_version == "3.11.9"
graphql-relay==3.2.0 ; python_full_version == "3.11.9"
grpcio==1.73.0 ; python_full_version == "3.11.9"
gto==1.7.2 ; python_full_version == "3.11.9"
gunicorn==23.0.0 ; python_full_version == "3.11.9" and platform_system != "Windows"
h11==0.16.0 ; python_full_version == "3.11.9"
h2==4.2.0 ; python_full_version == "3.11.9"
hf-xet==1.1.5 ; python_full_version == "3.11.9" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_full_version == "3.11.9"
httpcore==1.0.9 ; python_full_version == "3.11.9"
httptools==0.6.4 ; python_full_version == "3.11.9"
httpx-ws==0.7.2 ; python_full_version == "3.11.9"
httpx==0.28.1 ; python_full_version == "3.11.9"
huggingface-hub==0.33.0 ; python_full_version == "3.11.9"
humanfriendly==10.0 ; python_full_version == "3.11.9"
hydra-core==1.3.2 ; python_full_version == "3.11.9"
hyperframe==6.1.0 ; python_full_version == "3.11.9"
idna==3.10 ; python_full_version == "3.11.9"
ijson==3.4.0 ; python_full_version == "3.11.9"
importlib-metadata==8.7.0 ; python_full_version == "3.11.9"
ipython-pygments-lexers==1.1.1 ; python_full_version == "3.11.9"
ipython==9.3.0 ; python_full_version == "3.11.9"
iterative-telemetry==0.0.10 ; python_full_version == "3.11.9"
itsdangerous==2.2.0 ; python_full_version == "3.11.9"
jedi==0.19.2 ; python_full_version == "3.11.9"
jinja2==3.1.6 ; python_full_version == "3.11.9"
jiter==0.10.0 ; python_full_version == "3.11.9"
jmespath==1.0.1 ; python_full_version == "3.11.9"
joblib==1.5.1 ; python_full_version == "3.11.9"
jsonpatch==1.33 ; python_full_version == "3.11.9"
jsonpointer==3.0.0 ; python_full_version == "3.11.9"
jsonref==1.1.0 ; python_full_version == "3.11.9"
jsonschema-specifications==2025.4.1 ; python_full_version == "3.11.9"
jsonschema==4.24.0 ; python_full_version == "3.11.9"
jupyter-client==8.6.3 ; python_full_version == "3.11.9"
jupyter-core==5.8.1 ; python_full_version == "3.11.9"
kantoku==0.18.3 ; python_full_version == "3.11.9"
kiwisolver==1.4.8 ; python_full_version == "3.11.9"
kombu==5.5.4 ; python_full_version == "3.11.9"
langchain-anthropic==0.3.15 ; python_full_version == "3.11.9"
langchain-core==0.3.66 ; python_full_version == "3.11.9"
langchain-openai==0.3.25 ; python_full_version == "3.11.9"
langgraph-checkpoint==2.1.0 ; python_full_version == "3.11.9"
langgraph-prebuilt==0.1.8 ; python_full_version == "3.11.9"
langgraph-sdk==0.1.70 ; python_full_version == "3.11.9"
langgraph==0.3.34 ; python_full_version == "3.11.9"
langsmith==0.3.45 ; python_full_version == "3.11.9"
lightning-utilities==0.14.3 ; python_full_version == "3.11.9"
lightning==2.5.2 ; python_full_version == "3.11.9"
litestar-htmx==0.5.0 ; python_full_version == "3.11.9"
litestar==2.16.0 ; python_full_version == "3.11.9"
load-dotenv==0.1.0 ; python_full_version == "3.11.9"
locket==1.0.0 ; python_full_version == "3.11.9"
loguru==0.7.3 ; python_full_version == "3.11.9"
lz4==4.4.4 ; python_full_version == "3.11.9"
mako==1.3.10 ; python_full_version == "3.11.9"
markdown-it-py==3.0.0 ; python_full_version == "3.11.9"
markdown==3.8.2 ; python_full_version == "3.11.9"
markupsafe==3.0.2 ; python_full_version == "3.11.9"
matplotlib-inline==0.1.7 ; python_full_version == "3.11.9"
matplotlib==3.10.3 ; python_full_version == "3.11.9"
mdurl==0.1.2 ; python_full_version == "3.11.9"
minio==7.2.15 ; python_full_version == "3.11.9"
mixpanel==4.10.1 ; python_full_version == "3.11.9"
mlflow-skinny==2.22.1 ; python_full_version == "3.11.9"
mlflow==2.22.1 ; python_full_version == "3.11.9"
mmh3==5.1.0 ; python_full_version == "3.11.9"
mpmath==1.3.0 ; python_full_version == "3.11.9"
msgpack==1.1.1 ; python_full_version == "3.11.9"
msgspec==0.19.0 ; python_full_version == "3.11.9"
multidict==6.5.0 ; python_full_version == "3.11.9"
multipart==1.2.1 ; python_full_version == "3.11.9"
multiprocess==0.70.16 ; python_full_version == "3.11.9"
mypy-extensions==1.1.0 ; python_full_version == "3.11.9"
narwhals==1.44.0 ; python_full_version == "3.11.9"
nbclient==0.10.2 ; python_full_version == "3.11.9"
nbformat==5.10.4 ; python_full_version == "3.11.9"
nbqa==1.9.1 ; python_full_version == "3.11.9"
networkx==3.5 ; python_full_version == "3.11.9"
nltk==3.9.1 ; python_full_version == "3.11.9"
numpy==1.26.4 ; python_full_version == "3.11.9"
nvidia-cublas-cu12==12.4.5.8 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cufft-cu12==11.2.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-curand-cu12==10.3.5.147 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cusolver-cu12==11.6.1.9 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cusparse-cu12==12.3.1.170 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-cusparselt-cu12==0.6.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-ml-py==12.575.51 ; python_full_version == "3.11.9"
nvidia-nccl-cu12==2.21.5 ; platform_system == "Linux" and platform_machine != "aarch64" and python_full_version == "3.11.9"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
nvidia-nvtx-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
omegaconf==2.3.0 ; python_full_version == "3.11.9"
onnxruntime==1.22.0 ; python_full_version == "3.11.9"
openai==1.91.0 ; python_full_version == "3.11.9"
opentelemetry-api==1.34.1 ; python_full_version == "3.11.9"
opentelemetry-instrumentation-aiohttp-client==0.55b1 ; python_full_version == "3.11.9"
opentelemetry-instrumentation-asgi==0.55b1 ; python_full_version == "3.11.9"
opentelemetry-instrumentation==0.55b1 ; python_full_version == "3.11.9"
opentelemetry-sdk==1.34.1 ; python_full_version == "3.11.9"
opentelemetry-semantic-conventions==0.55b1 ; python_full_version == "3.11.9"
opentelemetry-util-http==0.55b1 ; python_full_version == "3.11.9"
orjson==3.10.18 ; python_full_version == "3.11.9"
ormsgpack==1.10.0 ; python_full_version == "3.11.9"
packaging==24.2 ; python_full_version == "3.11.9"
pandas==2.2.3 ; python_full_version == "3.11.9"
papermill==2.6.0 ; python_full_version == "3.11.9"
parso==0.8.4 ; python_full_version == "3.11.9"
partd==1.4.2 ; python_full_version == "3.11.9"
pathspec==0.12.1 ; python_full_version == "3.11.9"
patsy==1.0.1 ; python_full_version == "3.11.9"
pexpect==4.9.0 ; python_full_version == "3.11.9" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.2.1 ; python_full_version == "3.11.9"
pip-requirements-parser==32.0.1 ; python_full_version == "3.11.9"
platformdirs==4.3.8 ; python_full_version == "3.11.9"
plotly==6.1.2 ; python_full_version == "3.11.9"
polyfactory==2.21.0 ; python_full_version == "3.11.9"
portalocker==2.10.1 ; python_full_version == "3.11.9"
progressbar2==4.5.0 ; python_full_version == "3.11.9"
prometheus-client==0.22.1 ; python_full_version == "3.11.9"
prompt-toolkit==3.0.51 ; python_full_version == "3.11.9"
propcache==0.3.2 ; python_full_version == "3.11.9"
protobuf==5.29.5 ; python_full_version == "3.11.9"
psutil==7.0.0 ; python_full_version == "3.11.9"
psycopg2-binary
ptyprocess==0.7.0 ; python_full_version == "3.11.9" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_full_version == "3.11.9"
py-rust-stemmers==0.1.5 ; python_full_version == "3.11.9"
py4j==0.10.9.9 ; python_full_version == "3.11.9"
pyarrow==18.0.0 ; python_full_version == "3.11.9"
pyasn1-modules==0.4.2 ; python_full_version == "3.11.9"
pyasn1==0.6.1 ; python_full_version == "3.11.9"
pycodestyle==2.14.0 ; python_full_version == "3.11.9"
pycparser==2.22 ; python_full_version == "3.11.9"
pycryptodome==3.23.0 ; python_full_version == "3.11.9"
pydantic-core==2.33.2 ; python_full_version == "3.11.9"
pydantic-settings==2.10.0 ; python_full_version == "3.11.9"
pydantic==2.11.7 ; python_full_version == "3.11.9"
pydot==4.0.1 ; python_full_version == "3.11.9"
pygit2==1.18.0 ; python_full_version == "3.11.9"
pygments==2.19.2 ; python_full_version == "3.11.9"
pygtrie==2.5.0 ; python_full_version == "3.11.9"
pyparsing==3.2.3 ; python_full_version == "3.11.9"
pyreadline3==3.5.4 ; python_full_version == "3.11.9" and sys_platform == "win32"
pyspark==4.0.0 ; python_full_version == "3.11.9"
python-dateutil==2.9.0.post0 ; python_full_version == "3.11.9"
python-dotenv==1.1.1 ; python_full_version == "3.11.9"
python-json-logger==3.3.0 ; python_full_version == "3.11.9"
python-multipart==0.0.20 ; python_full_version == "3.11.9"
python-utils==3.9.1 ; python_full_version == "3.11.9"
pytorch-lightning==2.5.2 ; python_full_version == "3.11.9"
pytz==2025.2 ; python_full_version == "3.11.9"
pywin32==310 ; (sys_platform == "win32" or platform_system == "Windows") and python_full_version == "3.11.9"
pyyaml==6.0.2 ; python_full_version == "3.11.9"
pyzmq==27.0.0 ; python_full_version == "3.11.9"
qdrant-client==1.14.3 ; python_full_version == "3.11.9"
questionary==2.1.0 ; python_full_version == "3.11.9"
redis==4.6.0 ; python_full_version == "3.11.9"
referencing==0.36.2 ; python_full_version == "3.11.9"
regex==2024.11.6 ; python_full_version == "3.11.9"
requests-file==2.1.0 ; python_full_version == "3.11.9"
requests-toolbelt==1.0.0 ; python_full_version == "3.11.9"
requests==2.32.4 ; python_full_version == "3.11.9"
rich-click==1.8.9 ; python_full_version == "3.11.9"
rich==14.0.0 ; python_full_version == "3.11.9"
rpds-py==0.25.1 ; python_full_version == "3.11.9"
rsa==4.9.1 ; python_full_version == "3.11.9"
ruamel-yaml-clib==0.2.12 ; python_full_version == "3.11.9" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.14 ; python_full_version == "3.11.9"
s3fs==2024.6.1 ; python_full_version == "3.11.9"
s3transfer==0.13.0 ; python_full_version == "3.11.9"
safetensors==0.5.3 ; python_full_version == "3.11.9"
schema==0.7.7 ; python_full_version == "3.11.9"
scikit-learn==1.7.0 ; python_full_version == "3.11.9"
scipy==1.16.0 ; python_full_version == "3.11.9"
scmrepo==3.3.11 ; python_full_version == "3.11.9"
semver==3.0.4 ; python_full_version == "3.11.9"
sentry-sdk==2.30.0 ; python_full_version == "3.11.9"
setuptools==80.9.0 ; python_full_version == "3.11.9"
shellingham==1.5.4 ; python_full_version == "3.11.9"
shortuuid==1.0.13 ; python_full_version == "3.11.9"
shtab==1.7.2 ; python_full_version == "3.11.9"
simple-di==0.1.5 ; python_full_version == "3.11.9"
six==1.17.0 ; python_full_version == "3.11.9"
smmap==5.0.2 ; python_full_version == "3.11.9"
sniffio==1.3.1 ; python_full_version == "3.11.9"
sortedcontainers==2.4.0 ; python_full_version == "3.11.9"
sqlalchemy==1.4.54 ; python_full_version == "3.11.9"
sqlparse==0.5.3 ; python_full_version == "3.11.9"
sqltrie==0.11.2 ; python_full_version == "3.11.9"
stack-data==0.6.3 ; python_full_version == "3.11.9"
starlette==0.46.2 ; python_full_version == "3.11.9"
statsmodels==0.14.4 ; python_full_version == "3.11.9"
sympy==1.13.1 ; python_full_version == "3.11.9"
tabulate==0.9.0 ; python_full_version == "3.11.9"
tblib==3.1.0 ; python_full_version == "3.11.9"
tenacity==8.5.0 ; python_full_version == "3.11.9"
termcolor==3.1.0 ; python_full_version == "3.11.9"
threadpoolctl==3.6.0 ; python_full_version == "3.11.9"
tiktoken==0.9.0 ; python_full_version == "3.11.9"
tokenize-rt==6.2.0 ; python_full_version == "3.11.9"
tokenizers==0.21.1 ; python_full_version == "3.11.9"
toml==0.10.2 ; python_full_version == "3.11.9"
tomli-w==1.2.0 ; python_full_version == "3.11.9"
tomli==2.2.1 ; python_full_version == "3.11.9"
tomlkit==0.13.3 ; python_full_version == "3.11.9"
toolz==1.0.0 ; python_full_version == "3.11.9"
torch==2.6.0+cu124 ; python_full_version == "3.11.9"
torchaudio==2.6.0+cu124 ; python_full_version == "3.11.9"
torchmetrics==1.7.3 ; python_full_version == "3.11.9"
torchvision==0.21.0+cu124 ; python_full_version == "3.11.9"
tornado==6.5.1 ; python_full_version == "3.11.9"
tqdm==4.67.1 ; python_full_version == "3.11.9"
traitlets==5.14.3 ; python_full_version == "3.11.9"
transformers==4.52.4 ; python_full_version == "3.11.9"
triton==3.2.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.11.9"
typer==0.16.0 ; python_full_version == "3.11.9"
typing-extensions==4.13.2 ; python_full_version == "3.11.9"
typing-inspect==0.9.0 ; python_full_version == "3.11.9"
typing-inspection==0.4.1 ; python_full_version == "3.11.9"
tzdata==2025.2 ; python_full_version == "3.11.9"
ujson==5.10.0 ; python_full_version == "3.11.9"
urllib3==2.5.0 ; python_full_version == "3.11.9"
uuid6==2025.0.0 ; python_full_version == "3.11.9"
uvicorn==0.34.3 ; python_full_version == "3.11.9"
uvloop==0.21.0 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_full_version == "3.11.9"
vine==5.1.0 ; python_full_version == "3.11.9"
voluptuous==0.15.2 ; python_full_version == "3.11.9"
waitress==3.0.2 ; python_full_version == "3.11.9" and platform_system == "Windows"
watchdog==6.0.0 ; python_full_version == "3.11.9"
watchfiles==1.1.0 ; python_full_version == "3.11.9"
wcwidth==0.2.13 ; python_full_version == "3.11.9"
websockets==15.0.1 ; python_full_version == "3.11.9"
werkzeug==3.1.3 ; python_full_version == "3.11.9"
win32-setctime==1.2.0 ; python_full_version == "3.11.9" and sys_platform == "win32"
wrapt==1.17.2 ; python_full_version == "3.11.9"
wsproto==1.2.0 ; python_full_version == "3.11.9"
xgboost==3.0.2 ; python_full_version == "3.11.9"
xxhash==3.5.0 ; python_full_version == "3.11.9"
xyzservices==2025.4.0 ; python_full_version == "3.11.9"
yarl==1.20.1 ; python_full_version == "3.11.9"
zc-lockfile==3.0.post1 ; python_full_version == "3.11.9"
zict==3.0.0 ; python_full_version == "3.11.9"
zipp==3.23.0 ; python_full_version == "3.11.9"
zstandard==0.23.0 ; python_full_version == "3.11.9"
